.not-found-page-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.not-found-no-orders-title {
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 600;
  color: #3e4c59;
  margin-top: 30px;
  margin-bottom: 10px;
}
.not-found-empty-para {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  color: #3e4c59;
  margin-top: 10px;
  text-align: center;
}
.not-found-place-order-style {
  font-family: 'Roboto';
  font-size: 16px;
  background-color: #f7931e;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 6px;
  border-width: 0px;
  cursor: pointer;
  outline: none;
  margin-left: 6px;
}
